<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Permissions for Internet and Location (Required for Google Maps) -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <!-- The application tag contains your app's configuration -->
    <application
        android:networkSecurityConfig="@xml/network_security_config"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logo1"
        android:label="@string/app_name"
        android:enableOnBackInvokedCallback="true"
        android:roundIcon="@drawable/logo1"
        android:supportsRtl="true"
        android:theme="@style/Theme.FinApp"
        tools:targetApi="tiramisu">

        <!-- Google Maps API Key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDDy7R69oqRIW3HsCh_LgRAk1ayHUHL_Sg" />

        <!-- MainActivity configuration -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.FinApp"
            tools:ignore="Instantiatable">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>
